body {
  --primary-color: #ff3030;
}

.überschrift {
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  color: white;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}
.überschrift2 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: rgb(212, 206, 206);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100vh - 4rem);
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("./picture/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.pseudobutton {
  background-color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  color: white;
  margin-top: 3rem;
}
.pseudobutton:hover {
  background-color: transparent;
  padding: 10px;
  font-size: 1rem;
  color: white;
  transition: background-color 0.5s ease-out;
  margin-top: 3rem;
}

.pseudobuttontext {
  color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav {
  background-color: rgb(33, 32, 32);
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: 4rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.nav1 {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 0.1rem;
}
.nav1:hover {
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: color 0.5s ease-out;
  margin-top: 1%;
}

.about {
  background-color: rgba(6, 6, 6, 0.909);
  color: aliceblue;
  height: 100vh;
  align-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
h2 {
  text-transform: uppercase;
  text-decoration: underline var(--primary-color);
  font-size: 2rem;
}
.abouttext {
  color: rgb(212, 206, 206);
}
.aboutimg {
}

@media screen and (min-width: 800px) {
  .überschrift {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .überschrift2 {
    font-size: 1.25rem;
  }
  .pseudobutton {
    padding: 15px;
    border: 1px solid var(--primary-color);
    font-size: 1.25rem;
  }
  .pseudobutton:hover {
    padding: 10px;
    font-size: 1.25rem;
  }
  .nav1 {
    font-size: 1rem;
  }
  .nav1:hover {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .überschrift {
    line-height: 5.5rem;
    font-size: 5rem;
  }
  .überschrift2 {
    font-size: 1.5rem;
  }
  .pseudobutton {
    padding: 15px;
    border: 1px solid var(--primary-color);
    font-size: 1.5rem;
  }
  .pseudobutton:hover {
    padding: 15px;
    font-size: 1.5rem;
  }
  .nav1 {
    font-size: 1.5rem;
    margin-top: 1%;
  }
  .nav1:hover {
    font-size: 1.5rem;
  }
  .nav {
    gap: 10rem;
  }
}
@media screen and (min-width: 451px) {
  .zeilenumbruch {
    display: none;
  }
}
