.überschrift {
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  color: white;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}
.überschrift2 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: white;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 94vh;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("./picture/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.pseudobutton {
  background-color: rgb(212, 34, 34);
  padding: 10px;
  border: 1px solid red;
  font-size: 1rem;
  color: white;
  margin-top: 3rem;
}
.pseudobutton:hover {
  background-color: transparent;
  padding: 10px;
  font-size: 1rem;
  color: white;
  transition: background-color 0.5s ease-out;
  margin-top: 3rem;
}

.pseudobuttontext {
  color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav {
  background-color: rgb(33, 32, 32);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 6vh;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.aboutus,
.meals,
.opening {
  font-size: 1rem;
  color: white;
  margin-top: 1%;
}
.aboutus:hover,
.meals:hover,
.opening:hover {
  font-size: 1rem;
  color: red;
  transition: color 0.5s ease-out;
  margin-top: 1%;
}
@media screen and (min-width: 800px) {
  .überschrift {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .überschrift2 {
    font-size: 1.25rem;
  }
  .pseudobutton {
    padding: 15px;
    border: 1px solid red;
    font-size: 1.25rem;
  }
  .pseudobutton:hover {
    padding: 10px;
    font-size: 1.25rem;
  }
  .aboutus,
  .meals,
  .opening {
    font-size: 1.25rem;
  }
  .aboutus:hover,
  .meals:hover,
  .opening:hover {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .überschrift {
    line-height: 5.5rem;
    font-size: 5rem;
  }
  .überschrift2 {
    font-size: 1.5rem;
  }
  .pseudobutton {
    padding: 15px;
    border: 1px solid red;
    font-size: 1.5rem;
  }
  .pseudobutton:hover {
    padding: 15px;
    font-size: 1.5rem;
  }
  .aboutus,
  .meals,
  .opening {
    font-size: 1.5rem;
    margin-top: 1%;
  }
  .aboutus:hover,
  .meals:hover,
  .opening:hover {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 451px) {
  .zeilenumbruch {
    display: none;
  }
}
